.filter-panel {
  background-color: #dbe6f1;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card {
  border: none;
  border-radius: 10px;
  background-color: rgb(218, 241, 241); 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0 8px 20px rgba(1, 1, 1, 0.1);
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
}



input[type="text"].form-control {
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 8px;
}

.text-muted {
  font-style: italic;
  font-size: 1rem;
}

.cart_container {
   background-color: #dbe6f1 !important ;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.cross_btn {
  background-color: transparent !important;
  border: none !important;    
  opacity: 0.5;     
}
.cross_btn:hover{
   opacity: 1;
}
